/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

body, html, header, div, section, main {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100vh;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
	width: 100%;
}

main {
	width: 1024px;
	margin: 0 auto;
}

footer {
	width: 100%;
	background-color: #e6e6e6;
}

.section {
	margin: 0;
	padding: 0;
}

.labtitle {
	width: 100%;
	background-color: #2f5d7c;
}

.labtitle-inner {
	width: 1024px;
	margin: 0 auto;
}

.lablink {
	color: white;
	font-size: 2rem;
}

.tooltitle {
	width: 100%;
	background-color: #e6e6e6;
}

.tooltitle-inner {
	width: 1024px;
	margin: 0 auto;
}

.footer-inner {
	width: 1024px;
	margin: 0 auto;
}